<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>创作</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
    <div id="create">
      <h1>头像</h1>
      <form id="createForm">
        <label for="image">上传头像:</label>
        <input type="file" id="image" name="image" accept="image/*" required><br><br>
        <div id="thumbnails"></div>
        <button type="submit">上传</button>
      </form>
    </div>
    <script src="/static/setting.js"></script>
</body>
</html>
